<div class="container">
  <h1>Add a New Task</h1>

  <%= form_with model: @task, local: true, class: 'mt-3' do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :details, class: 'form-label' %>
      <%= form.text_area :details, class: 'form-control' %>
    </div>
    <%= form.submit "Create Task", class: 'btn btn-success' %>
    <%= link_to 'Back to My Tasks', tasks_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
